# Data collection
yfinance
requests

# Database
sqlalchemy
pymysql


# Utilities
python-dotenv
jupyter
joblib


# Cloud — AWS
boto3

# Data processing & EDA
pandas
numpy
matplotlib
seaborn
ta
scikit-learn